<p style="color: green"><%= notice %></p>

<% content_for :title, "Mining types" %>

<h1><%= MiningType.model_name.human(count: @mining_types.count) %></h1>

<table id="mining_types" class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= @mining_types.human_attribute_name(:description) %></th>
      <th scope="col"><%= @mining_types.human_attribute_name(:acronym) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mining_types.each do |mining_type| %>
      <tr>
        <%= render mining_type %>
        <td><%= link_to t("links.show"), mining_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("links.new.mining_type"), new_mining_type_path, class: "btn btn-primary" %>
<%= link_to t("links.back"), root_path, class: "btn btn-primary" %>

