<p style="color: green"><%= notice %></p>

<% content_for :title, "Coins" %>

<h1><%= Coin.model_name.human(count: @coins.count) %></h1>

<table id="coins" class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= @coins.human_attribute_name(:description) %></th>
      <th scope="col"><%= @coins.human_attribute_name(:acronym) %></th>
      <th scope="col"><%= @coins.human_attribute_name(:url_image) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <%= render coin %>
        <td><%= link_to t("links.show"), coin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("links.new.coin"), new_coin_path, class: "btn btn-primary" %>
<%= link_to t("links.back"), root_path, class: "btn btn-primary" %>
