<p style="color: green"><%= notice %></p>

<% content_for :title, "Coins" %>

<h1>Moedas</h1>
<h2><%= cookies[:curso] %></h2>
<h2><%= session[:name] %></h2>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to t("links.show"), coin %>
    </p>
  <% end %>
</div>

<%= link_to t("links.new"), new_coin_path %>
